.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .employee-details {
    margin-top: 20px;
  }
  
  .employee-info {
    font-size: 16px;
    margin-bottom: 8px;
    color: #666666;
    text-align: left;
  }
  
  .card-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    background-color: #4285f4;
    margin-right: 10px;
  }
  
  .btn-primary {
    background-color: #4285f4;
  }
  
  .btn-primary:hover {
    background-color: #3367d6;
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 133, 244, 0.5);
  }
  
  .btn-primary:active {
    background-color: #3367d6;
  }
  

  






/* page style */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.page-link:hover {
  background-color: #ddd;
}

.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

/* Media queries for responsiveness */
/* Add your media queries here */
